{{- $author := partial "author-data" . -}}
{{- $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006 3:04PM" -}}
{{- $twitterSVG := partial "svg/twitter.svg" (dict "class" "w-6 h-6 fill-current inline-block") -}}
{{- $githubSVG := partial "svg/github.svg" (dict "class" "w-6 h-6 fill-current inline-block") -}}
<div class="flex items-center space-x-5">
  <div class="flex items-center">
    <div class="flex-shrink-0">
      <a href="{{ $author.uri | absURL }}">
        <img
        class="w-12 h-12 sm:w-14 sm:h-14 object-cover p-3px rounded-full border border-blue-300"
        src="{{ $author.image }}"
        alt="{{ $author.name }}">
      </a>
    </div>
    <div class="flex-shrink-0 ml-2 leading-tight font-content-sans">
      <a class="block text-base text-raven-800 hover:text-raven-900" target="_blank" rel="noopener nofollow" title="{{ $author.name }}" href="{{ $author.uri | absURL }}">{{ $author.name }}</a>
      <time class="text-sm text-raven-500" datetime="{{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }}">{{ dateFormat $dateFormat .Date.Local }}</time>
    </div>
  </div>
  <div class="flex items-center space-x-3 text-sm text-raven-500">
    {{- with $author.twitter }}
      <div class="inline-block ">
        <a class="hover:text-raven-900" href="{{ printf "https://twitter.com/%s" .}}" target="_blank" rel="noopener nofollow">
          {{ $twitterSVG }} @{{ . }}
        </a>
      </div>
    {{- end }}
    {{- with $author.github }}
      <div class="inline-block">
        <a class="hover:text-raven-900" href="{{ printf "https://github.com/%s" .}}" target="_blank" rel="noopener nofollow">
          {{ $githubSVG }} @{{ . }}
        </a>
      </div>
    {{- end }}
  </div>
</div>
