{{- $appCSS := resources.Get "app.css" }}
{{- $customCSS := resources.Get "custom.css" }}
{{- $slice := slice }}
{{- if $customCSS }}
{{- $slice = $slice | append ($customCSS | resources.Minify) }}
{{- end }}
{{- /* Append $appCSS to $customCSS to preserve order of tailwind css
definition. $customCSS may contains tailwind CSS class and it could mess up the
order of css definition especially for responsive design.
Example: If axiom theme uses sm:flex-row while the user of axiom uses flex-col,
$customCSS will contains flex-col and it should not be defined after
sm:flex-row.
*/}}
{{- $slice = $slice | append $appCSS }}
{{- $bundleCSS := $slice | resources.Concat "bundle.css" }}
{{- $bundleCSS = printf "%s?v=%d" $bundleCSS.RelPermalink now.Unix }}
<link rel="preload" as="style" href="{{ $bundleCSS | safeHTML }}" media="all">
<link rel="stylesheet" href="{{ $bundleCSS | safeHTML }}" media="all">

{{- if not (eq .Site.Params.highlight false) }}
{{- $syntaxCSS := printf "syntax-%s.css" (.Site.Params.highlight | default "dark") }}
<style>{{ (resources.Get $syntaxCSS).Content | safeCSS }}</style>
{{- end }}
